%h1 Listing prices

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Cost in £s
      %th
      %th
      %th

  %tbody
    - @prices.each do |price|
      %tr
        %td= price.title
        %td= price.description
        %td= price.cost

%br
