/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$font: 'Times New Roman', 'Times', serif;
$color: #b1b1b1;



body {
    font-family: $font;
    background-color: $color;
    padding: 10px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: gray;
    border-bottom: 5px solid gray;
}

th, td {
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding: 20px;
  text-align: left;
}

tr:nth-child(even) {
    background-color: #d3d3d3;
}

a {
    display: block;
}

ul {
    text-align: center;
    list-style: none;
    
}

li {
    display: inline-block;
    width: 150px;
    font-size: 20px;
}

.pc {
    text-align: center;
    color: gray;
}

footer {
    position: fixed;
    bottom: 0;
}

table {
    margin: 0 auto;
}