%h1 Listing locations

%table
  %thead
    %tr
      %th Title
      %th Description
      %th 
      %th
      %th

  %tbody
    - @locations.each do |location|
      %tr
        %td= location.title
        %td= location.description
        %td
        %td= link_to 'Show', location

%br

